h1
{
    font-size: 40px;    
    text-align: center;
    color: brown;
}
body
{
    background-color: #FFAC33;
    
}
images
{
    position: relative;    
}
h4
{
    position: absolute;
    top: 200px; 
    left: 0; 
    width: 100%; 
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    height: 6%;
    position: fixed; 
    overflow: auto;
    opacity: .5;
}
#head
{
    float: left;
}

li a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
